#outerMostDiv{
    width:1080px;
    height:640px;
    position:absolute;
    top:1280px;
    left:0px;
}

#innerMostDiv{
    position:absolute;
    left:0px;
    width:1200px;
    height:inherit;
    overflow-x:hidden;
    color:white;
    user-select:none;
}

.scroller{
    background-color:rgba(189, 220, 4, 1);
    position:absolute;
    cursor:pointer;
    width:8px;
    height:100px;
    top:0;
}

.scrollerbg{
    width:20px;
    height:20px;
    background:transparent;
}

.isiLineNoArrows{
    background-color:rgba(0, 176, 189, 1);
    top:0; 
    right:0px; 
    height:100%;
    width:8px;
    cursor:pointer;
}

#isi-controls{
    right:20px;
    top:45px;
    height:520px;
    width:8px;
    position:absolute;
}

::-webkit-scrollbar{
    -webkit-appearance:none;
}