body{
    margin:0;
    padding:0;
}

img{border:none;}

#wrapper{
    width:1080px;
    height:1920px;
    position:absolute;
    left:0;
    top:0;
    overflow:hidden;
    background-color:#ffffff;
}

.top-frame{
    position:absolute;
    left:1080px;
    opacity:1;
}

#frame_1{left:0px;}

/*#link1{
    position:absolute;
    top:1470px;
    left:473px;
    width:385px;
    height:35px;
    background-color:rebeccapurple;
    opacity:0;
    cursor:pointer;
}

#link2{
    position:absolute;
    top:2395px;
    left:70px;
    width:210px;
    height:30px;
    background-color:rebeccapurple;
    opacity:0;
    cursor:pointer;
}*/